In [1]:
import pandas as pd
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://saurabh:saurabh_sql@localhost:3306/Feb_Challange')

In [3]:
df = pd.read_csv('./Dataset/LA_Listings.csv', encoding='ISO-8859-1')

In [4]:
df.head(10)

,Listing ID,Name,Host ID,Host Name,Host Is Superhost,Host total listings count,City,State,Country,latitude,...,Room type,Accommodates,Bathrooms,Bedrooms,Amenities,Price,Minimum nights,Maximum nights,Availability 365,Number of reviews
0,11085215,_________,57460111,Robin,False,3,Los Angeles,CA,United States,34.05689088,...,Private room,3.0,2.0,1.0,TV;Internet;Wireless Internet;Air conditioning...,80,1,1125.0,365,0
1,3230382,Large master bedroom & covered patio; __________,15878447,Betty,True,9,Los Angeles,CA,United States,34.06032707,...,Private room,3.0,1.0,1.0,Internet;Wireless Internet;Air conditioning;He...,75,3,1125.0,346,38
2,18211034,Comfortable queen bed near LAX,125720858,Sally,False,1,Los Angeles,CA,United States,33.92183162,...,Shared room,1.0,1.0,1.0,Internet;Wireless Internet;Pool;Kitchen;Heatin...,45,1,1125.0,52,0
3,12209039,Single room for rent,38037399,_,False,2,Los Angeles,CA,United States,34.0275231,...,Private room,1.0,1.0,1.0,Family/kid friendly,35,3,1125.0,358,0
4,16114973,Deluxe Ocean View Villa in Malibu,105081594,Tao,False,1,Los Angeles,CA,United States,34.05700521,...,Entire home/apt,10.0,4.5,5.0,TV;Internet;Wireless Internet;Air conditioning...,0,2,365.0,305,1
5,17545953,___________;___;__3______;_____,74732009,_,False,5,Los Angeles,CA,United States,33.98801281,...,Entire home/apt,6.0,2.0,2.0,TV;Internet;Wireless Internet;Air conditioning...,135,1,1125.0,154,2
6,17032353,2015 NEW HOUSE;BY ARCADIA DOWNTOWN,87139814,Kevin,False,3,Los Angeles,CA,United States,34.14153688,...,Entire home/apt,9.0,4.0,3.0,TV;Wireless Internet;Air conditioning;Kitchen;...,268,1,1125.0,365,0
7,10513135,private bathroom quiet clean_______,47987624,Hellen,False,6,Los Angeles,CA,United States,34.09355084,...,Private room,2.0,1.0,1.0,Internet;Wireless Internet;Air conditioning;Ki...,56,2,1125.0,80,12
8,16369859,__________;____;____;________mall,93742491,Sunny,False,4,Los Angeles,CA,United States,34.13854386,...,Entire home/apt,6.0,3.0,3.0,TV;Internet;Wireless Internet;Air conditioning...,238,1,1125.0,179,0
9,16707516,____ _ __ ___ ____________,110697570,Mina,False,1,Los Angeles,CA,United States,33.96985508,...,Private room,2.0,1.0,1.0,Family/kid friendly;Suitable for events,58,1,1125.0,179,1

In [9]:
df.to_sql(
    'LA_listings',
    con = engine,
    index = False,
    if_exists = 'append'
)