In [1]:
import pandas as pd
import sqlalchemy

## Creating Connection Object

It should contain following objects...

1. user
2. password
3. localhost
4. port number
5. Database


Example
```python
engine = sqlalchemy.create_engine('mysql+pymysql://user:userpassword@localhost:3306/database_name')
```

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://saurabh:saurabh_sql@localhost:3306/Feb_Challange')

## Reading CSV values using Pandas Dataframe

In [3]:
LA = pd.read_csv('./Dataset/LA_Listings.csv', encoding='ISO-8859-1')

In [4]:
LA.head(10)

,Listing ID,Name,Host ID,Host Name,Host Is Superhost,Host total listings count,City,State,Country,latitude,...,Room type,Accommodates,Bathrooms,Bedrooms,Amenities,Price,Minimum nights,Maximum nights,Availability 365,Number of reviews
0,11085215,_________,57460111,Robin,False,3,Los Angeles,CA,United States,34.05689088,...,Private room,3.0,2.0,1.0,TV;Internet;Wireless Internet;Air conditioning...,80,1,1125.0,365,0
1,3230382,Large master bedroom & covered patio; __________,15878447,Betty,True,9,Los Angeles,CA,United States,34.06032707,...,Private room,3.0,1.0,1.0,Internet;Wireless Internet;Air conditioning;He...,75,3,1125.0,346,38
2,18211034,Comfortable queen bed near LAX,125720858,Sally,False,1,Los Angeles,CA,United States,33.92183162,...,Shared room,1.0,1.0,1.0,Internet;Wireless Internet;Pool;Kitchen;Heatin...,45,1,1125.0,52,0
3,12209039,Single room for rent,38037399,_,False,2,Los Angeles,CA,United States,34.0275231,...,Private room,1.0,1.0,1.0,Family/kid friendly,35,3,1125.0,358,0
4,16114973,Deluxe Ocean View Villa in Malibu,105081594,Tao,False,1,Los Angeles,CA,United States,34.05700521,...,Entire home/apt,10.0,4.5,5.0,TV;Internet;Wireless Internet;Air conditioning...,0,2,365.0,305,1
5,17545953,___________;___;__3______;_____,74732009,_,False,5,Los Angeles,CA,United States,33.98801281,...,Entire home/apt,6.0,2.0,2.0,TV;Internet;Wireless Internet;Air conditioning...,135,1,1125.0,154,2
6,17032353,2015 NEW HOUSE;BY ARCADIA DOWNTOWN,87139814,Kevin,False,3,Los Angeles,CA,United States,34.14153688,...,Entire home/apt,9.0,4.0,3.0,TV;Wireless Internet;Air conditioning;Kitchen;...,268,1,1125.0,365,0
7,10513135,private bathroom quiet clean_______,47987624,Hellen,False,6,Los Angeles,CA,United States,34.09355084,...,Private room,2.0,1.0,1.0,Internet;Wireless Internet;Air conditioning;Ki...,56,2,1125.0,80,12
8,16369859,__________;____;____;________mall,93742491,Sunny,False,4,Los Angeles,CA,United States,34.13854386,...,Entire home/apt,6.0,3.0,3.0,TV;Internet;Wireless Internet;Air conditioning...,238,1,1125.0,179,0
9,16707516,____ _ __ ___ ____________,110697570,Mina,False,1,Los Angeles,CA,United States,33.96985508,...,Private room,2.0,1.0,1.0,Family/kid friendly;Suitable for events,58,1,1125.0,179,1

In [5]:
NY = pd.read_csv('./Dataset/NY_Listings.csv', encoding='ISO-8859-1')

In [6]:
NY.head(10)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,City,Neighbourhood cleansed,State,...,Property type,Room type,Accommodates,Bathrooms,Bedrooms,Amenities,Price,Minimum nights,Maximum nights,Availability 365
0,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,House,Private room,1.0,1.0,1.0,Cable TV;Internet;Wireless Internet;Kitchen;Fr...,43,2,30.0,276
1,2539,Comfy bedroom minutes to Manhattan,44260966,Alicia,1.0,False,1.0,Bronx,Soundview,NY,...,House,Private room,1.0,1.0,1.0,TV;Internet;Wireless Internet;Air conditioning...,28,2,31.0,345
2,2595,Spacious RM in Private Home; Backyard/Near Metro,105394139,Ciprian,1.0,False,16.0,Bronx,Fordham,NY,...,House,Private room,4.0,3.0,2.0,Internet;Wireless Internet;Air conditioning;Ki...,80,3,31.0,355
3,3330,Modern Bronx Treasure!,104262517,Felicia,0.7,False,1.0,Bronx,Fordham,NY,...,Apartment,Entire home/apt,4.0,1.0,1.0,TV;Internet;Wireless Internet;Air conditioning...,140,2,1125.0,358
4,3647,Good Vibes Sanctuary,58126473,Miriam,1.0,False,1.0,Bronx,Fordham,NY,...,Apartment,Private room,2.0,1.0,1.0,TV;Wireless Internet;Air conditioning;Kitchen;...,60,1,1125.0,360
5,3831,Cute RM in Private Home with Backyard/Near Metro,23878336,Armando,1.0,False,5.0,Bronx,Fordham,NY,...,House,Private room,3.0,3.0,1.0,Internet;Wireless Internet;Air conditioning;Ki...,60,3,31.0,352
6,4611,Bronx Bed and Breakfast,101289150,David & Elaine,1.0,True,2.0,Bronx,Castle Hill,NY,...,Bed & Breakfast,Entire home/apt,2.0,1.0,1.0,TV;Cable TV;Internet;Wireless Internet;Air con...,85,2,1125.0,311
7,4989,Cozy Twin size bed,27187487,Naima,1.0,False,3.0,Bronx,Belmont,NY,...,Apartment,Private room,1.0,1.0,1.0,Internet;Wireless Internet;Air conditioning;Ki...,65,1,7.0,363
8,5099,Light Room In Little Italy,3784521,Matiss,NaN,False,1.0,Bronx,Belmont,NY,...,Apartment,Private room,1.0,1.0,1.0,Internet;Wireless Internet;Kitchen;Hot tub;Hea...,70,7,21.0,0
9,5121,Downtown style in the Bronx,64678583,Mark,NaN,False,1.0,Bronx,Mott Haven,NY,...,Apartment,Private room,2.0,1.0,1.0,TV;Cable TV;Internet;Wireless Internet;Air con...,60,3,14.0,364

## Using Pandas build-in function to write **CSV** data into **MySQL** database

Following Parameters are used

1. Table Name (Name of the table)
2. connection (connection object that we created)
3. index
4. If_exists (if the table exists, then just append the CSV data)

In [7]:
LA.to_sql(
    'LA',
    con = engine,
    index = False,
    if_exists = 'append'
)

In [8]:
NY.to_sql(
    'NY',
    con = engine,
    index = False,
    if_exists = 'append'
)

## Reading Data from MySQL database

In [3]:
ratings = pd.read_sql('SELECT * FROM airbnb_ratings', con = engine)

In [4]:
ratings.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,549036,37751194,2015-07-10,33501858,Gabi,Muy bien ubicado. Las fotos y la descrpciÃ³n c...
1,549036,45480519,2015-09-03,38589960,Ewelina,I had really good time in Alex apartment and I...
2,13546118,137928884,2017-03-18,111268477,Donovan,Place is pretty nice and Sergio was a big help...

In [5]:
ratings.to_csv('./Dataset/airbnb_ratings.csv', index = False)